DATABASE_DRIVER="mongodb"
DATABASE_URL="mongodb://localhost:27017/prac"
DEBUG=*

# Порт, на котором запускается бэкенд-сервер
PORT=3000

# Переключатель хранилища:
# true  -  данные хранятся в MongoDB
# false -  данные хранятся в памяти из mongodb_initial_stub.json
USE_MONGODB=false
